.main-container-auth{
    display: grid;
    grid-template-columns: 20% 80%;
}
.main-container-auth h1{
    grid-column: 1/3;
    text-align: center;
    font-size: 5em;
    font-family: 'Ruhl';
    padding: 0rem;
    background: linear-gradient(90deg, #a03333, #5d073c);
    color: white;
    
}
.main-container-auth h1 span{
    color: #f5f5f5;
    text-transform: uppercase;
}

.asideBar{
    grid-column: 1/2;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
}
.asideBar ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.asideBar ul li{
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.asideBar ul li:hover{
    background-color: #e0e0e0;
}

.containerContenidoGeneralHomeAuth{
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 90vh;
    overflow: auto;
    
}

.container-cotizar-homeAuth{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.ultimosPedidos{
    font-size: 4em;
    text-align: center;
    margin: 4rem 0rem;
}

.pointsGeneralAccumulated{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    margin: 2rem 0rem;
    font-family: 'Ruhl';
}
.pointsGeneralAccumulated span{
    font-family: 'Vibes';
}
.asideBar-points, .asidebar-admin{
    background: linear-gradient(180deg, #a03333, #5d073c);
    color: white;
}
.asidebar-admin{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em !important;
}
.facturaDetallada{
    font-size: var(--text);
}

.facturaDetallada ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .5em;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
  }
  
  .modal-actions {
    margin-top: 20px;
  }
  
  .productsContainerGeneral{
    min-height: 70vh;
    margin-top: 3rem;
  }

  .orders{
    min-height: 70vh;
    width: 90%;
  }

  .order-search .suggestions-list {
    border: 1px solid #ddd;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  
  .order-search .suggestions-list li {
    padding: 8px;
    cursor: pointer;
  }
  
  .order-search .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  
  .order-search {
    position: relative;

  }
  
  .order-search .suggestions-list {
    border: 1px solid #ddd;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  
  .order-search .suggestions-list li {
    font-size: 1em;
    padding: 8px;
    cursor: pointer;
  }
  
  .order-search .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  
  /* Estilos para el contenedor del select */
.order-search .form-group {
    margin-bottom: 16px;
  }
  
  /* Estilos para el label del select */
  .order-search label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilos para el select */
  .order-search select {
    width: 100%;
    padding: 8px 12px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Estilos para el select cuando está enfocado */
  .order-search select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  /* Estilos para las opciones del select */
  .order-search option {
    padding: 8px;
  }
  
  .headerAuth{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }