/* Contenedor principal */
.users-container {
    padding: 20px;
    background-color: #f7f7f7;
    min-height: 90vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Rulh', sans-serif;
  }
  
  /* Título */
  .title {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Grid de usuarios */
  .users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  /* Tarjeta de usuario */
  .user-card {
    background: white;
    border-radius: 10px;
   
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  
  /* Detalles del usuario */
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 75px;
  }
  
  .user-name {
    font-size: 1.5em;
    color: #333;
  }
  
  .user-email {
    font-size: 1em;
    color: #666;
  }
  
  /* Mensaje sin usuarios */
  .no-users {
    font-size: 1.2em;
    color: #999;
  }
  
  /* Efecto hover para la tarjeta */
  .user-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }
  
  .title-users{
    color: #333 !important;
    margin-bottom: 20px;
    background: transparent !important;
  }


  /*
    User Search
  */

  .user-search-container {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  .search-input {
    width: 30%;
    min-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    transition: all 0.3s ease;
  }

  .search-input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-search-results {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .user-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-name {
    font-size: 18px;
    margin: 0;
  }
  
  .user-email {
    font-size: 16px;
    color: #555;
  }
  
  .no-results {
    font-style: italic;
    color: #888;
  }
  
/*-------------------

Formulario de usuario 

-------------------*/

  .user-form-container {
    max-width: 100%;
    height: 100vh;
    background: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .user-form-container h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  .user-form-container form{
    width: 50%;
    min-width: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .user-form-container img{
    width: 50%;
    min-width: 350px;
    height: 100vh;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 2em;
  }
  
  .form-group input {
    width: 50%;
    min-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .user-form-container  button {
    display: block;
    width: 50%;
    min-width: 350px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .user-form-container  button:hover {
    background: #ad4848;
  }
  
  @media screen and (max-width: 768px) {
    .user-form-container{
      background: 
      linear-gradient(90deg, rgba(255, 255, 255, 0.45), rgba(247, 247, 247, 0.3)), 
      url('../../../assets/img/globos_artisticos_2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .user-form-container form{
      width: 70%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.45), rgba(247, 247, 247, 0.3));
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .user-form-container img{
      display: none;
    }
    
  }

  .Toastify__toast--error{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Toastify__toast-body{
    width: 100%;
  }


  /*
    Categories
  */
  .container-categories{
    min-height: 70vh;
  }

  /* Contenedor principal de la tabla */
.table-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Título de la tabla */
.table-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Tabla estilizada */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

/* Estilo de las cabeceras */
.styled-table thead tr {
  background: linear-gradient(90deg, #a03333, #5d073c);
  color: #fff !important;
  text-align: left;
  font-weight: bold;
}
.styled-table thead tr th{
  color: #fff !important;
  font-size: 2em;
}
/* Estilo de las filas */
.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Estilo para filas alternas */
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* Estilo al pasar el ratón por encima de una fila */
.styled-table tbody tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Celdas de la tabla */
.styled-table td, .styled-table th {
  padding: 12px 15px;
}

/* Texto de las celdas */
.styled-table td {
  font-size: 16px;
  color: #555;
}

/* Mensaje cuando no hay categorías */
.styled-table tbody tr td[colspan="2"] {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #999;
}

/* Contenedor de la búsqueda */
.category-search-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Título del buscador */
.search-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Barra de búsqueda */
.search-input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Tabla estilizada */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #343a40;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-table td, .styled-table th {
  padding: 12px 15px;
}

.styled-table td {
  font-size: 16px;
  color: #555;
}

.styled-table tbody tr td[colspan="2"] {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #999;
}


/* Fondo oscuro detrás del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}

/* Animación de entrada del modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

/* Botones */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  margin: 2rem 0rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Ruhl', sans-serif;
  cursor: pointer;
  transition: all 1s ease;
}

.btn-primary {
  background: linear-gradient(90deg, #a03333, #5d073c);
  color: #fff;
  transition: all 1s ease;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}
.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}
.btn-primary:hover{
  background: linear-gradient(180deg, #a03333, #5d073c);
  transition: all 1s ease;
}
.positionFixed{
  position: fixed;
  top: 6rem;
  right: 2rem;
}
